
ul li {
  list-style: none;
}

body {
  font-family: $font-family;
  color: $color-text;
  font-size: 14px;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: $font-family;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: $color-text;

    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .container {
    padding: 0;
  }
}

.content-wrapper {
  .frontpage-layout .panel-pane-inner, 
  .left-sidebar.default-layout .layout-wrapper,
  .pane-page-content  {
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: relative;
    padding: 40px 0;
 }
}

.pane-page-tabs {
  max-width: 1124px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

html {
  &.overlay-open .navbar-fixed-top {
    z-index: 400;
  }
  &.js {
    // Collapsible fieldsets.
    fieldset.collapsed {
      border-left-width: 1px;
      border-right-width: 1px;
      height: auto;
    }
    // Throbbers.
    input.form-autocomplete {
      background-image: none;
    }
    // Autocomplete.
    input.form-autocomplete {
      background-image: none;
    }
    // Autocomplete (fallback throbber, no icon).
    .autocomplete-throbber {
      background-position: 100% 2px;
      background-repeat: no-repeat;
      //display: inline-block;
      height: 15px;
      margin: 2px 0 0 2px;
      width: 15px;
    }
    .autocomplete-throbber.throbbing {
      background-position: 100% -18px;
    }
  }
}

@mixin outer-container {
  @include clearfix;
  max-width: $max-width;
  margin: {
    left: auto;
    right: auto;
  }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }

//mixin 
@mixin wrapper() {
  @include outer-container;
  width: $wrapper-width;
  //width: $outer_width;
}

@mixin place-icon(
  $icon,
  $color: $charcoal-opacity-dark,
  $size: 54px) {
  position: relative;
  &::after {
    @extend %icon-#{$icon};
    @extend %icomoon-base;
    font-size: $size;
    line-height: 1;
    color: $color;
    display: block;
    position: absolute;
    top: 0;
  }
}

table td {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
}

.pane-node-title h2 {
  font-family: $font-family-light;
  font-size: 40px;
  line-height: 44px;
  color: $charcoal;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sub-menu-title,
.sub-menu-title h2,
.sub-menu-title h2 a{
  font-family: $font-family-bold;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.row {
  margin-left: 0;
}

//ding nis style for slideshow

.field-slideshow.field-slideshow-processed {
  max-width: 535px !important;
  height: 500px !important;
  position: relative;
  opacity: 1;
  z-index: 1;
}

#cboxWrapper {
  #cboxClose {
    top: 0;
    right: 0;
  }
}
