// // Styling of content type Ding campaign
.ding-campaign {
  @include make-col(12);
  position: relative;
  margin-bottom: 20px;
  //general styles for all campaigns
  .ding-campaign-headline {
    display: none;
  }
  .ding-campaign-description {
    font-family: $font-family-bold;
    font-size: $font-size-max;
    padding: 15px;
  }
  a {
   @include make-col(12);
   position: relative;
   height: 100%;
   z-index: 3;
   color: $color-text-link;
  }

  // campaign layout specific styles
  &.text-on-image {
    background-size: cover;
    background-position: center center;
    &::before {
      @include transition(background-color $speed $ease);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $charcoal-opacity-dark;
      z-index: 1;
    }
    .ding-campaign-text {
      @include make-col(7);
      position: relative;
      min-height: 455px;
      padding: 50px 30px;
      color: $white;
      z-index: 2;
    }
    &.ding-campaign-medium-width {
      .ding-campaign-text {
        @include make-col(12);
      }
    }
    .no-touch & {
      &:hover {
        &::before {
          background-color: $charcoal-opacity-extra-dark;
        }
      }
    }
  }
  //image and text in two columns layout
  &.image-and-text {
    background: $color-primary;
    min-height: 380px;

    .ding-campaign-text {
      width: 50%;
      float: right;
      padding: 40px 30px 40px 0;
      min-height: 380px;
    }
    .ding-campaign-image {
      width: 50%;
      top: 0;
      float: left;
      min-height: 380px;
      background-size: cover;
      background-position: center center;
    }

    &:hover {
      background: $grey-dark;
    }
  }
  // text only layout
  &.text {
    background: $color-primary;

    .ding-campaign-text {
      @include make-col(12);
      padding: 40px 30px;

      .ding-campaign-headline {
        @include make-col(8);
      }

      .ding-campaign-description {
        @include make-col(6);
      }
    }
    // if text-only layout in medium-width panel
    &.ding-campaign-medium-width {
      .ding-campaign-text {
        .ding-campaign-headline {
          @include make-col(12);
        }
        .ding-campaign-description {
          @include make-col(12);
        }
      }
    }
  }
  // image only layout
  &.image {
    .node-type-ding-news &,
    .node-type-ding-eresource &,
    .node-type-ding-event & {
      margin: 20px 0;
    }

    img {
      width: 100%;
    }
  }
}

.pane-campaign .ding-campaign-full-width {
  display: none;
}
