// Styling of content type Ding Event

.node-ding-event {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  a {
    color: $color-primary;
  }

  .left {
    h2 {
      padding: 25px 0;
      margin-bottom: 25px;
      font-family: $font-family-bold;
      font-size: 18px;
      border-bottom: 1px solid $grey;
    }

    .field {
      .field-label {
        display: inline-block;
        width: 100px;
        padding-right: 10px;
      }
      .field-items {
        display: inline-block;
        width: auto;
        vertical-align: text-top;

        .street-block {
          width: auto;
          display: inline-block;
          padding-right: 5px;
        }

        .thoroughfare,
        .country {
          display: inline-block;
          width: auto;
        }
      
      }
    }
  }

  .field-name-field-ding-event-tags {
    padding: 15px 0;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    margin: 25px 0;

    .field-item {
      display: inline-block;
      padding-right: 10px;
    }
  }

  .field-name-field-ding-event-list-filter,
  .field-name-field-ding-event-price.field-label-hidden {
    display: none;
  }

  .card {
    a {
      color: $charcoal;
    }
  }

  .field-name-field-ding-event-category {
    margin-bottom: 5px;
    background-color: $color-primary;
    width: max-content;
    padding:  0px 5px;
    border-radius: 3px;

    a {
      color: $charcoal;
    }
  }

  .field-name-field-ding-event-date {
    font-size: 26px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey-medium;
    color: $grey-dark;
  }

  .field-name-field-ding-event-lead {
    font-family: $font-family-bold;
    margin-bottom: 15px;
  }
}

// Default calendar 

.ui-datepicker-title {
  width: 100%;
  height: 30px;
  padding: 0 25px;
  margin: 3px 0 0;

  .ui-datepicker-month,
  .ui-datepicker-year {
    font-family: $font-family;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
    color: $charcoal;
    line-height: normal;
    position: static;
    height: auto;
    padding: 0 10px;
  }
}

//list events
.view-display-id-ding_news_list_library,
.view-display-id-ding_event_list,
.view-display-id-ding_event_list_library {
 h3 .date-display-single {
   font-size: 40px;
  text-transform: uppercase;
  }
  .view-content {
    @include make-col(12);

    @media #{$tablet} {
      margin: 0 30px;
    }

    .views-row {
      @include make-col(12);
      margin-bottom: 15px;

      @media #{$wide}, #{$normal} {
        @include make-col(5.8);
        display: inline-block;
      }
    }

    .views-row-odd {
      margin-right: 15px;
    }
  }
}

.card-img-top {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 150px;
}
.field-name-field-culture-lists-control,
.pane-ding-related-content-news-events {
  @include make-col(12);
  width: 100%;

  h2 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .view-content {
    @include make-col(12);
    .views-row {
      @include make-col(12);
      margin-right: 15px;

      @media #{$wide}, #{$normal} {
        @include make-col(3.8);
        display: inline-block;
      }
      
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.share-buttons {
  a {
    color: $color-primary;
    margin-bottom: 10px;
  }
}

.bef-checkboxes {
  @include clearfix();
}

.fieldset-legend,
a.fieldset-title {
  display: block;
  width: auto;
}

.fieldset-legend {
  height: 50px;
}

a.fieldset-title {
  font-size: 20px;
}

fieldset.collapsible .fieldset-title::after {
  content: "\e905";
}

fieldset.bef-select-as-checkboxes-fieldset {
  @media #{$wide}, #{$normal} {
    padding: 0;
  }
}

.page-arrangementer {
  .filters-group {
    position: relative;
    .label {
      position: relative;
      margin-top: 0px;

      @media #{$tablet} {
        padding: 0 5px;
        position: relative;
      }

      @media  #{$wide}, #{$normal} {
        position: relative;
        margin-top: 0px;
      }
    }

    a {
      padding: 5px;
    }
  }
}

@keyframes checkbox-collapse-in {
  0% {
    content: "\002B";
  }
  50% {
    color: white;
  }
  100% {
    content: "\2212";
  }
}

@keyframes checkbox-collapse-out {
  0% {
    content: "\2212";
  }
  50% {
    color: white;
  }
  100% {
    content: "\002B";
  }
}

.ctools-auto-submit-full-form .views-exposed-widget.collapsible-checkbox-container {
  width: 100%;
}

.ctools-auto-submit-full-form .views-exposed-widget.collapsible-checkbox-container .views-widget .form-item.form-type-select {
  max-width: 100%;
}

.ctools-auto-submit-full-form .views-exposed-widget.collapsible-checkbox-container .views-widget .form-item.form-type-select > label::after {
  position: absolute;
  top: calc(50% - 12px);
  right: -12px;
  content: '\002B';
  animation: checkbox-collapse-out 0.35s ease;
  color: $color-text;
  font-size: 20px;
  font-weight: bold;
}

.ctools-auto-submit-full-form .views-exposed-widget.collapsible-checkbox-container .views-widget .form-item.form-type-select > label.chexbox-items-collapsed:after {
  content: "\2212";
  animation: checkbox-collapse-in 0.35s ease;
}

.ctools-auto-submit-full-form .views-exposed-widget.collapsible-checkbox-container .views-widget .form-item.form-type-select > label {
  position: relative;
  display: block;

  &::after {
    display: block;
  }

  @media #{$tablet}, #{$wide}, #{$normal} {
    position: static;

    &::after {
      display: none;
    }
  }
}
