//
// Styling of content type Ding Event

//@import '../../style.scss';


.node-ding-event {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .inner.row {
    padding: 20px;
  }

  .left {
    h2 {
      padding: 25px 0;
      margin-bottom: 25px;
      font-family: $font-family-bold;
      font-size: 18px;
      border-bottom: 1px solid $grey;
    }

    .field {
      .field-label {
        display: inline-block;
        width: auto;
      }
      .field-items {
        display: inline-block;
        width: auto;
        vertical-align: text-top;
      }
    }
  }
}
