// // Styling of content type Ding Page

// Style default-panel

.default-panel-layout {
  padding-left: 0;
  padding-right: 0;
  margin-top: 40px;
}

.page-contact {
  .col-md-8 {
    @extend .col-md-12;

    form {
      input {
        @extend .form-control;
      }

      select {
        @extend .custom-select;
      }
      
      textarea {
        @extend .form-control;
      }

      input#edit-copy {
        visibility: hidden;
      }

      input#edit-submit {
        @extend .btn;
        width: auto;
      }

      input:focus,
      textarea:focus,
      select:focus {
        border-color: $color-primary;
        box-shadow: 0 0 0 0.2rem $color-primary;
      }
    }
  }
}
