// // Styling of footer region.

.footer {
  background-color: $charcoal;
  color: $white;
  clear: both;

  a,
  a.active {
    @include transition(color $speed $ease);
    color: $white;
    &:hover {
      color: $white-opacity-dark;
    }
  }
}

.footer-inner {
  @include wrapper;
  padding-top: 30px;
  @extend .row;

  .pane-block {
    @extend .col;
    display: block;
    flex-basis: initial;
    margin-bottom: 20px;
  }

 @media #{$wide}, #{$normal}, #{$tablet} {
    .pane-block {
      flex-basis: 0;
    }
 }

  .attachment-first,
  .attachment-second,
  .attachment-third {
    margin-right: 20px;
  }

  > .panel-pane {
    .pane-title {
      pointer-events: none;
      &.open {
        &::after {
          background-color: $black;
          color: $white;
          display: none;
        }
      }
      &::after {
        display: none; // hide arrow on desktop
      }
    }

    .pane-content {
      ul {
        display: block;
      }

      .icon {
        line-height: 30px;
        span {
          margin-left: 30px;
        }
      }
    }
  }
}
