// // Styling of footer region.

.footer {
  background-color: $charcoal;
  color: $white;
  a,
  a.active {
    @include transition(color $speed $ease);
    color: $white;
    &:hover {
      color: $white-opacity-dark;
    }
  }
}

.footer-inner {
  @include wrapper;
  padding: 50px 0;

  .pane-block {
    display: inline-block;
    @include make-col(12);
    width: 23%;
    float: left;

    .panel-pane-inner {
      max-width: 200px;
    }
  }

  .attachment-first,
  .attachment-second,
  .attachment-third {
    margin-right: 20px;
  }

  > .panel-pane {
    .pane-title {
      pointer-events: none;
      &.open {
        &::after {
          background-color: $black;
          color: $white;
          display: none;
        }
      }
      &::after {
        display: none; // hide arrow on desktop
      }
    }

    .pane-content {
      ul {
        display: block;
      }

      .icon {
        line-height: 30px;
        span {
          margin-left: 30px;
        }
      }
    }
  }
}
