// // Styling of header region.

.site-header {
 height: 90px;
  // Topbar
  // ==========================================================================
  .topbar {
    @include transition(transform $speed $ease);
    z-index: $z-overlay + 1;
    margin-top: -10px;
    background-color: $color-topbar;
    width: 100%;
    position: fixed;
    box-shadow: $box-shadow;


    .main-menu-wrapper {
      top: 5px;
      float: right;
      width: 100%;

      @media #{$wide}, #{$normal} {
        top: -60px;
      }

      button.navbar-toggler {
        float: right;
        position: absolute;
        right: 0;
        top: -40px;
      }

      ul.main-menu {
        float: left;

        li {
          a {
            font-size: $font-size-max;
            font-weight: bold;
            color: $charcoal;
          }
        }
      }

      @media #{$wide}, #{$normal} {
        top: 0px;
        float: left;
        width: auto;

        ul.main-menu {
          float: none;
  
          li {
            padding: 0;
          }
        }
      }
    }
  }

  .navigation-wrapper {
    background-color: $color-primary;
    width: 100%;
    height: 100%;
    .navigation-inner {
      width: 100%;
      top: calc(100px - 27px);
      position: relative;
  
      @media #{$wide}, #{$normal} {
        .pane-menu-block-1 {
          @include make-col(8);
          z-index: $z-overlay + 2;
        }

        .navbar {
          padding: 0;
        }
      }
    }


    .form-item-search-block-form input {
      display: inline-block;
      margin-top: 0;
    }
  }

  .pane-search-form {
    @media #{$wide}, #{$normal} {
      @include make-col(6);
    }
    float: right;
    margin-top: 7px;

    .form-item-search-block-form {
      @media #{$wide}, #{$normal} {
        width: calc(100% - 80px);
      }
      width: calc(100% - 60px);
    }

    .form-item,
    .form-actions {
      margin-top: 0;
    }
  }

  .topbar-inner {
    @include wrapper;
    @include transition(height $speed $ease);
    position: relative;
    height: 95px;

    .logo {
      @include make-col(4);
      height: 44px;
      margin-top: 20px;

      a:hover {
        text-decoration: none;
      }
    }

    .form-item-search-block-form {
      width: calc(100% - 55px);

      .logged-in & {
        width: calc(100% - 80px);
      }
    }

    .site-name-container {
      height: 44px;

      &.logo-container {
        .site-name {
          display: none;
        }
        .vertical-helper {
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
        img {
          display: inline-block;
          vertical-align: middle;
          max-height: 100%;
          max-width: 95%;
          width: auto;
          height: auto;
        }
      }
    }

    .pane-search-form {
      position: relative;
      width: 100%;
      min-height: 1px;

      @media #{$wide}, #{$normal} {
        position: absolute;
        width: auto;
        right: 0;
      }

      .pane-content {
        display: block;
        min-height: 50px;
      }
    }

    #search-block-form {
      @media #{$wide}, #{$normal} {
        margin-top: 15px;
      }
      .form-actions,
      .form-item-search-block-form {
        display: inline-block;
      }

      .form-actions {
        margin-left: -6px;
      }
    }
  }

  ul.navbar-nav {
    li {
      @extend .nav-item;

      a {
        color: $charcoal;
        
        &.active {
          text-decoration: underline;
        }
      }
    }
  }

  // ==========================================================================
  // Header wrapper
  // ==========================================================================
  .header-wrapper {
    z-index: $z-header - 1;
    top: $topbar-height;
    width: 100%;
  }

  .navigation-inner {
    @include wrapper;
    position: relative;
    z-index: 50;

    @media #{$wide}, #{$normal} {
      z-index: 1;
    }

    .pane-search-form {
      @include transition(
        transform $speed $ease,
        top 0ms $ease $speed
      );
      @media #{$wide}, #{$normal} {
        @include make-col(12);
        top: 0;
      }
      position: absolute;
      z-index: 2;
      top: 0px;
      padding: 15px 0;


      .form-item-search-block-form {
        float: left;
        input[type="text"] {
          @include transition(width $speed $ease);
          border-radius: $round-corner 0 0 $round-corner;
          width: 100%;
          float: right;
          &:focus {
            box-shadow: none;
          }
        }
      }
      .form-actions {
        float: left;
        input[type="submit"] {
          border-radius: 0 $round-corner $round-corner 0;
        }
      }
    }
  }

  > .navigation-wrapper {
    @include transition(
      transform $speed $ease,
      box-shadow $speed $ease
    );
    z-index: $z-header - 2;
    top: $topbar-height-max;
    left: 0;
    width: 100%;

    padding-bottom: 10px;

    @media #{$wide}, #{$normal} {
      padding-bottom: 0;
      top: $topbar-height;
    }
  }

  .navigation-inner {
    @include wrapper;
    position: relative;
    background-color: $color-primary;
    height: 100px;

    .pane-search-form {
      @extend .col-12;
      top: 8px;

      .pane-content {
        display: block;
        margin: 0 25px;
      }
    }

    .main-menu-wrapper {
      @include transition(
        transform $speed $ease,
        top 0ms $ease $speed
      );
      @include make-col(4);
      margin-left: 10px;
      margin-bottom: 0;
    }

    .main-menu-wrapper {
      margin-left: 10px;

      @media #{$wide}, #{$normal} {
        padding: 0;
        margin-left: 0;
      }
    }

    .secondary-menu-wrapper {
      display: none;
      z-index: -1;

      @media #{$wide}, #{$normal} {
        display: block;
        float: right;
        z-index: 1;
      }

      > ul.secondary-menu {
        > li {
    
          > a {
            padding: 20px 0;
            display: block;

            &:hover {
              text-decoration: none;
              color: $color-text;
            }
          }
        }
      }

      .show-secondary-menu & {
        display: block;
        float: right;
        padding-right: 69px;
      }
    }

    .pane-menu-block-main-menu-second-level {
      @include transition(top $speed $ease);
      position: fixed;
      z-index: $z-header - 1;
      top: $header-height;
      left: 0;
      width: 100%;
      background-color: $charcoal;
      box-shadow: $box-shadow;
    }
  }
}

// ==========================================================================
// Menu
// ==========================================================================
ul {
  &.menu,
  &.main-menu,
  &.menu-second-level,
  &.menu-third-level,
  &.secondary-menu,
  &.topbar-menu {
    padding: 0;
    margin-bottom: 0;
    li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

// ==========================================================================
// Main menu
// ==========================================================================
.main-menu-wrapper {
  @media #{$wide}, #{$normal} {
    padding-bottom: 0;
    ul.navbar-nav {
      li {
        a {
          padding: 30px 5px 20px 5px;

          display: block;
        }

        a {
          color: $charcoal;
          font-size: 18px;
          font-weight: bolder;

          &:hover {
            text-decoration: none;
            background-color: $color-primary;
          }
        }

        >ul {
          display: none;
        }
      }    
    }
  }
}

// ==========================================================================
// Secondary menu
// ==========================================================================
.secondary-menu-wrapper {
  display: none;
  z-index: -1;

  @media #{$wide}, #{$normal} {
    display: block;
    float: right;
    z-index: 1;
  }

  > ul.secondary-menu {
    > li {

      > a {
        display: block;
      }

      a {
        color: $color-text;
        font-size: 18px;
        font-weight: bolder;

        &:hover {
          text-decoration: none;
          color: $grey-dark;
        }
      }
    }
  }

  .topbar-inner & {
    top: 25px;
    right: 0;
    display: block;
    position: absolute;
    padding: 15px;

    .secondary-menu {
      display: none;

      @media #{$wide}, #{$normal} {
        display: block;
        float: right;
      }
      > li { 
        border-right: 3px solid $color-text;
        margin-right: 10px;

        &:last-child {
            border-right: none;
            margin-right: 0;
          }
        
        a {
          font-size: 18px;
          font-weight: bold;
          color: $charcoal;
        }
      }
    }
  }
}

// ==========================================================================
// Main menu & Main menu second level
// ==========================================================================
ul {
  &.main-menu,
  &.secondary-menu {
    > li {
      position: relative;
      float: left;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
      a {
        &::after {
          @include transition(height $speed $ease);
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
        }
        &:hover {
          &::after {
            height: 5px;
          }
        }
      }
      &.active-trail {
        a {
          &::after {
            height: 5px;
          }
        }
      }
    }
  }
}


.sub-menu-wrapper .pane-content {
  ul.menu {
    li {
      display: block;
      margin-bottom: 10px;

      a {
        display: block;
        color: $color-text;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}

.search-overlay--wrapper {
  display: none;
}
