//Style search page and event-list.

//Event-list
.page-arrangementer {
  #autocomplete {
    border: 1px solid $grey;

    ul {
        li {
        padding-left: 5px;
        &:hover {
          background-color: $color-primary;
        }
      }
    }
  }

  .filters-group {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid $grey;

    .label {
      font-weight: 900;

      @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
      }
    }

    .events-tomorrow a,
    .events-next_weekend a,
    .top_events a {
      background-color: $grey;
      color: $charcoal;
      border-color: $grey;
      width: 100%;
      text-align: center;

      @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
      }

      &:hover,
      &:active,
      &:focus,
      &:visited,
      &:focus-within {
        background-color: $color-primary;
        color: $charcoal;
        border-color: $color-primary;
      }
    }

    .btn-success:not(:disabled):not(.disabled):active:focus,
    .btn-success:not(:disabled):not(.disabled).active:focus,
    .show > .btn-success.dropdown-toggle:focus {
      box-shadow: $color-primary-opacity;
    }
  }
}

.page-search {
  .views-widget-filter-sticky {
    display: none;
  }

  .views-exposed-widget.views-submit-button {
    display: none;
  }

  img {
    width: 150px;
    height: auto;
    @extend .float-right;
  }

  .search-results {
    ul {
      padding-left: 0;
    }
    .node {
      background-color: $grey-light;
    }

    .title-node {
      color: $charcoal;
    }

    .read-more {
      @include make-col(12);
      display: block;
      margin-top: 20px;
    }
  }
}
