// Style ding_event_calendar

.pane-ding-event-calendar-ding-event-calendar {
  .event-items {
    height: 100%;

    .event-title {
      display: inline-block;
      @include make-col(5);
      padding: 5px 0;

      a {
        width: auto;
        font-family: $font-family-bold;
        font-size: $font-size-normal;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .info-event {
      @include make-col(7);
      display: inline-block;
      float: right;
      padding-left: 5px;

      .event-location {
        display: block;
        margin: 0;
        white-space: nowrap;
        width: 170px;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
          color: $grey-dark;

          &:hover {
            color: $color-primary;
          }
        }
      }

      .event-time,
      .event-category {
        display: inline-block;

        a, & {
          color: $charcoal;
        }

        a:hover {
          color: $color-primary;
        }
      }

      a, .event-time {
        font-size: $font-size-small; 
      }

      .event-time {
        margin-left: 0;
        font-weight: bold;
      }
    }
  }
}

table#calendar {
  table-layout: fixed;
}

.slick-prev:before,
.slick-next:before {
  color: $color-primary;
  font-size: 30px;
}

.slick-next {
  right: 10px;
}

#eventsCalendar {
  #calendar {
    tr td.calendar-day.has-events.selected {
      background-color: $color-primary;

      a {
        color: $charcoal;
      }
    }
  } 
}

.pane-ding-event-calendar-ding-event-calendar {
  .more-link {
    margin-bottom: 20px;
  }
}
